

        body {
            background-color: rgb(255, 158, 67);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(139, 0, 0);
            background-color: rgba(126, 20, 38, 0.514);
        }
        h2 {
            color: rgb(139, 51, 0);
        }
        p {
            text-align: justify;
        }
    