@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #034159,#025951,#02735E );
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #01443db6;
    padding: 10px;
    margin: auto;
}

h1 { color: #038C3E;
text-align: center;
text-shadow: 1px 1px 2px #024e23c5;
}
h2 {
    color: #02735E;
}
p {
    text-align: justify;
}