@charset "UTF-8";

* {
    color: rgb(233, 233, 233);
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte-padrão: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fonte-destaque: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(8, 8, 8);
}

header h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-top: 15px;
}

nav {
    font-family: var(--fonte-destaque);
    padding: 15px;
    font-size: 1.2em;
}

nav > a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(219, 219, 219);
}

main {
    min-width: 300px;
    max-width: 700px;
    margin: auto;
}

main h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.4em;
    padding: 35px 0px 10px 25px;
    margin-bottom: -65px;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    margin: auto;
    }

main p {
    padding:20px 10px 0px 25px;
    margin: auto;
    font-size: 1.1em;
    font-family: var(--fonte-padrão);
    line-height: 1,1em;
}

main img {
    padding-top: 10px;
}

.text {
    text-align: center;
    margin: auto;
   
}

main a {
    color: black;
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-style: bolder;
    font-size: 1.3em;
    background-color: rgb(255, 255, 255);
    padding: 2px 25px 2px 25px;
    margin: auto;
    border-radius: 20px;

}

main a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(255, 255, 255, 0.815);
}

footer {
    margin-top: 15px;
    font-family: var(--fonte-destaque);
    text-align: center;

}